<!--<script type="text/javascript">-->
<!--//    $(document).ready(function() {-->
    <!--window.onload=function() {-->
        <!--function createUser() {-->
            <!--alert("rabbit");-->
        <!--}-->
<!--//        createUser();-->
    <!--};-->
<!--</script>-->
<div id="subform">
    <section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="#"><i class="fa fa-dashboard"></i> FORM</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Quick Example</h3>
            </div><!-- /.box-header -->
            <form id="userForm" role="form">
                <div class="box-body">
                    <div class="form-group col-md-6 has-success">
                        <label for="user">Username</label>
                        <input type="text" class="form-control" id="user" placeholder="Enter username" value="jaliat">
                    </div>
                    <div class="form-group col-md-6 has-warning">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email"
                               value="gxbit2006@163.com">
                    </div>
                    <div class="form-group col-md-6 has-error">
                        <label for="first">First</label>
                        <input type="text" class="form-control" id="first" placeholder="Enter first" value="Jaliat">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="last">Last</label>
                        <input type="text" class="form-control" id="last" placeholder="Enter last" value="Suffere">
                    </div>
                    <!--<div class="form-group">-->
                    <!--<label for="exampleInputFile">File input</label>-->
                    <!--<input type="file" id="exampleInputFile">-->
                    <!--<p class="help-block">Example block-level help text here.</p>-->
                    <!--</div>-->
                    <!--<div class="checkbox">-->
                    <!--<label>-->
                    <!--<input type="checkbox"> Check me out-->
                    <!--</label>-->
                    <!--</div>-->
                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="button" id="cu" class="btn btn-primary" onclick="createUser();">Submit</button>
                </div>
            </form>
        </div>

    </section><!-- /.content -->
</div>

